# Database Connection (Supabase PostgreSQL / Direct PostgreSQL)
DATABASE_URL="postgresql://postgres.gbkdpkjywtxuihglqial:cJUhl6IRWigCbMOh@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?connection_limit=2"
DIRECT_URL="postgresql://postgres.gbkdpkjywtxuihglqial:cJUhl6IRWigCbMOh@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# NextAuth Configuration
NEXTAUTH_SECRET="your-ultra-secure-random-secret-key"
NEXTAUTH_URL="https://jkclin.com"

# Server Port
PORT=3000
NODE_ENV=production
